.bottombar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &__section {
    position: absolute;
    top: 0;
    left: 0;
    @include theme-aware("background-color", "color-background");
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    overflow-x: auto;
    align-items: center;
    justify-items: center;

    &--1 {
      &-enter {
        transform: translateX(-100%);
      }

      &-enter-active {
        transform: translateX(0);
        transition: all 0.4s;
      }

      &-exit {
        transform: translateX(0);
      }

      &-exit-active {
        transform: translateX(-100%);
        transition: all 0.4s;
      }
    }

    &--2 {
      &-enter {
        transform: translateX(100%);
      }

      &-enter-active {
        transform: translateX(0);
        transition: all 0.4s;
      }

      &-exit {
        transform: translateX(0);
      }

      &-exit-active {
        transform: translateX(100%);
        transition: all 0.4s;
      }
    }
  }

  &::after {
    left: 2rem;
    top: 0;
    content: "";
    position: absolute;
    width: calc(100% - 4rem);
    height: 2px;
    @include theme-aware("background-image", "blurred-border");

    @include respond(small-phone) {
      width: 100%;
      left: 0;
    }
  }

  &--fullborder {
    &::after {
      left: 0;
      width: 100%;
    }
  }

  &__item {
    background-color: transparent;
    display: flex;
    height: 100%;
  }

  &__btn-icon {
    height: 100%;
    background: transparent;
    display: flex;
    padding: 1rem;
    align-items: center;
    @include theme-aware("color", "color-text");

    svg {
      @include theme-aware("fill", "color-text");
      width: 2rem;
    }

    &--active {
      @include theme-aware("color", "color-primary");

      svg {
        @include theme-aware("fill", "color-primary");
      }
    }
  }
}
