.dashboard-form {
  display: grid;
  grid-column: 1fr;
  row-gap: 2.5rem;
  padding: 2rem 6rem;

  @include respond(phone) {
    padding: 2rem 2rem;
  }

  &__file-input {
    display: none;
  }

  &__user-picture-label {
    display: inline-flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__toggle-btn {
    grid-column: col-input-start / col-input-end;
    @include respond(phone) {
      grid-column: 1 / 2;
    }
  }

  &__back-btn {
    grid-column: col-input-start / col-input-end;
    justify-self: start;
    background: transparent;
    line-height: 100%;
    padding: 0.5rem;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    @include respond(phone) {
      grid-column: 1 / 2;
    }

    display: flex;
    align-items: center;
    @include theme-aware("color", "color-red");
    @include theme-aware("border-color", "color-red");
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &--icon {
      font-size: 1.2rem;
    }

    &--text {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  &__item {
    display: grid;
    max-width: 75rem;
    grid-template-columns:
      [col-label-start] minmax(min-content, 1fr)
      [col-label-end col-input-start] minmax(min-content, 3fr)
      [col-input-end];
    grid-auto-rows: min-content;
    row-gap: 1rem;
    column-gap: 5rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  &__submit-btn {
    grid-column: col-input-start / col-input-end;

    @include respond(phone) {
      grid-column: 1 / 2;
    }
  }

  &__submit-btn {
    grid-column: col-input-start / col-input-end;

    @include respond(phone) {
      grid-column: 1 / 2;
    }
  }

  &__header {
    display: grid;
    align-items: center;
    max-width: 75rem;
    grid-template-rows: 1fr;
    column-gap: 5rem;
    grid-template-columns:
      [col-picture-start] minmax(min-content, 1fr)
      [col-picture-end col-user-start] minmax(min-content, 3fr)
      [col-user-end];
    align-items: center;

    @include respond(phone) {
      grid-template-columns: repeat(2, minmax(5rem, max-content));
      column-gap: 2.5rem;
    }
  }

  &__picture {
    justify-self: end;
    grid-column: 1 / 2;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
    }
  }

  &__user {
    justify-self: start;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;

    &--primary {
      @include theme-aware("color", "color-text");
      font-size: 2rem;
      font-weight: 500;
      background: transparent;
    }

    &--secondary {
      @include theme-aware("color", "color-primary");
      font-size: $default-font-size;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__input-btn {
    grid-column: col-input-start / col-input-end;
    @include theme-aware("color", "color-primary");
    font-size: $default-font-size;
    font-weight: 600;
    cursor: pointer;
    justify-self: start;
    background: transparent;
    @include respond(phone) {
      grid-column: 1 / 2;
    }
  }

  &__cover {
    grid-column: col-input-start / col-input-end;
    max-height: 50rem;
    @include theme-aware("border-color", "color-input");
    width: 100%;
    border-radius: 3px;
    height: 100%;
    min-height: 30rem;
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    position: relative;

    label {
      display: inline-flex;
      cursor: pointer;
      align-self: center;
    }

    &--icon {
      font-size: 6rem;
      @include theme-aware("color", "color-green");
    }

    &--error {
      @include theme-aware("border-color", "color-red");
    }

    @include respond(phone) {
      grid-column: 1 / 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__change-cover-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    @include theme-aware("background-color", "color-primary");
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white !important;
    border-top-left-radius: 0.5rem;
  }

  &__stuff-container {
    display: flex;
    flex-wrap: wrap;

    grid-column: col-input-start / col-input-end;

    @include respond(phone) {
      grid-column: 1 / 2;
    }

    & > * {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__stuff {
    @include theme-aware("color", "color-text-secondary");
    display: flex;
    cursor: pointer;
    border: 1px solid $color-primary;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 100rem;
    position: relative;
    padding: 0 0.5rem 0 3.5rem;
    word-wrap: break-word;
    word-break: break-word;
  }

  &__remove-stuff-btn {
    background-color: $color-primary;
    height: 100%;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    color: $color-white;
    left: 0;
  }

  &__add-stuff-box {
    justify-self: start;
    width: 100%;
    grid-column: col-input-start / col-input-end;
    display: flex;
    align-items: stretch;

    @include respond(phone) {
      grid-column: 1 / 2;
    }

    input {
      font-size: 1.4rem;
      position: relative;
      border-width: 1px;
      resize: none;
      border-style: solid;
      resize: none;
      @include theme-aware("border-color", "color-input");
      width: calc(100% - 5rem);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 1rem;
      @include theme-aware("color", "color-text-secondary");
      background: transparent;

      &--error {
        @include theme-aware("border-color", "color-red");
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        @include theme-aware("color", "color-placeholder");
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        @include theme-aware("color", "color-placeholder");
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        @include theme-aware("color", "color-placeholder");
      }
    }

    button {
      @include theme-aware("background-color", "color-primary");
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      font-size: 2rem;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &__input {
    justify-self: start;
    grid-column: col-input-start / col-input-end;
    font-size: 1.4rem;
    position: relative;
    border-width: 1px;
    resize: none;
    border-style: solid;
    resize: none;
    @include theme-aware("border-color", "color-input");
    width: 100%;
    border-radius: 3px;
    padding: 1rem;
    @include theme-aware("color", "color-text-secondary");
    background: transparent;

    &--error {
      @include theme-aware("border-color", "color-red");
    }

    @include respond(phone) {
      grid-column: 1 / 2;
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      @include theme-aware("color", "color-placeholder");
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      @include theme-aware("color", "color-placeholder");
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      @include theme-aware("color", "color-placeholder");
    }
  }

  &__error {
    @include theme-aware("color", "color-red");
    font-size: 1.4rem;
    font-weight: 600;
    grid-column: col-input-start / col-input-end;

    @include respond(phone) {
      grid-column: 1 / 2;
    }
  }

  &__warning {
    justify-self: start;
    grid-column: col-input-start / col-input-end;
    font-size: $default-font-size;
    font-weight: 600;
    position: relative;
    border-width: 2px;
    border-style: solid;
    resize: none;
    width: 100%;
    border-radius: 3px;
    padding: 1rem;
    background: transparent;

    &--red {
      @include theme-aware("border-color", "color-red");
      @include theme-aware("color", "color-red");
    }

    &--green {
      @include theme-aware("border-color", "color-green");
      @include theme-aware("color", "color-green");
    }

    @include respond(phone) {
      grid-column: 1 / 2;
    }
  }

  label {
    justify-self: end;
    text-align: center;
    grid-column: col-label-start / col-label-end;
    @include theme-aware("color", "color-text-secondary");
    font-size: $default-font-size;
    font-weight: 600;

    @include respond(phone) {
      justify-self: start;
      grid-column: 1 / 2;
    }
  }

  &__item-description {
    grid-column: col-input-start / col-input-end;
    @include theme-aware("color", "color-text-tertiary");
    font-size: 1.3rem;
    font-weight: 500;

    @include respond(phone) {
      grid-column: 1 / 2;
      font-size: 1.5rem;
    }
  }
}
